<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#4285f4">
    <title>Universe Care</title>
    <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/carrier.css">
    <link rel="stylesheet" href="../static/header.css">
    <link rel="stylesheet" href="../static/navbar.css">
    <link rel="stylesheet" href="../static/about.css">
    <link rel="stylesheet" href="../static/copyright.css">
    <link rel="stylesheet" href="../static/gallery.css">
    <link rel="stylesheet" href="../static/footer.css">
    <link rel="stylesheet" href="../static/resources.css">
    <link rel="stylesheet" href="../static/heroes.css">
    <script defer src="../static/navbar.js"></script>
</head>

<body>
    <header id="header">
        <a href="#info">
            <div class="info-item"><img src="../static/img/info.svg" alt="info"> READ ABOUT OUR COVID-19 PRECAUTIONS
            </div>
        </a>
    </header>

    <section id="navbar">
        <div class="nav">
            <div class="logo info-item"><img src="../static/img/logo.png" alt="logo"></div>
            <div class="navlist">
                <ul>
                    <li class="listitem"><a class="lists" href="#about">ABOUT</a></li>
                    <li class="listitem"><a class="lists" href="#carrier">SERVICES</a></li>
                    <li class="listitem"><a class="lists" href="#resources">RESOURCES</a></li>
                    <li class="listitem"><a class="lists highlight" href="#carrier">CAREERS</a></li>
                    <li class="listitem"><a class="lists" href="#home-care-heroes">HOME CARE HEROES</a></li>
                    <li class="listitem"><a class="lists" href="#footer">CONTACT</a></li>
                </ul>
            </div>
            <div class="burger-img"><img src="../static/img/menu.svg" alt="burger"></div>
            <div class="phone"><a class="info-item" href="$"><img src="../static/img/phone.svg" alt="phone">866-986-356</a></div>
        </div>
    </section>
    <section id="mobile-nav">
        <div class="mobile-nav">
            <ul>
                <li class="listitem"><a class="lists" href="#about">ABOUT</a></li>
                <li class="listitem"><a class="lists" href="#carrier">SERVICES</a></li>
                <li class="listitem"><a class="lists" href="#resources">RESOURCES</a></li>
                <li class="listitem"><a class="lists highlight" href="#carrier">CAREERS</a></li>
                <li class="listitem"><a class="lists" href="#home-care-heroes">HOME CARE HEROES</a></li>
                <li class="listitem"><a class="lists" href="#footer">CONTACT</a></li>
            </ul>
        </div>
    </section>


    <section id="carrier">
        <div class="carrier-parent">
            <div class="text carrier-child">
                <div class="main-text">The Future of Health Care is Home Care</div>
                <p class="sub-text">Over a Decade of Trust Care</p>
                <button class="appointment-button">REQUEST AN APPOINTMENT</button>
            </div>
            <div class="img carrier-child">
            </div>
        </div>
    </section>



    <section id="business-name">
        <a href="#location">
            <div class="info-item"><img src="../static/img/map-pin.svg" alt="location"> UNIVERSACARE AREAS OF COVERAGE
            </div>
        </a>
    </section>
    <section id="resources">
        <div id="upper">
            <div class="info-box upper-box">
                <h3>Your peace of mind is our number one priority.</h3>
                <hr />
                <p>UniversaCare offers a range of services for in-home care. We are your partners in care, and work with you to come up with a plan of action.</p>
            </div>
            <div class="resource-box upper-box">
                <img src="../static/img/illustration.png" alt="illustration">
                <h3>Hourly Home care</h3>
                <p>4x higher coverage limit than traditional policies for computers and home office equipment.</p>
                <div class="arrow"><a href="$">></a></div>
            </div>
            <div class="resource-box upper-box">
                <img src="../static/img/illustration.png" alt="illustration">
                <h3>Hourly Home care</h3>
                <p>4x higher coverage limit than traditional policies for computers and home office equipment.</p>
                <div class="arrow"><a href="$">></a></div>
            </div>
            <div class="resource-box upper-box">
                <img src="../static/img/illustration.png" alt="illustration">
                <h3>Hourly Home care</h3>
                <p>4x higher coverage limit than traditional policies for computers and home office equipment.</p>
                <div class="arrow"><a href="$">></a></div>
            </div>
        </div>

        <div id="middle">
            <div class="middle-box">
                <img src="../static/img/illustration.png" alt="illustration">
                <h3>Hourly Home care</h3>
                <p>4x higher coverage limit than traditional policies for computers and home office equipment.</p>
                <div class="arrow"><a href="$">></a></div>
            </div>
            <div class="middle-box">
                <img src="../static/img/illustration.png" alt="illustration">
                <h3>Hourly Home care</h3>
                <p>4x higher coverage limit than traditional policies for computers and home office equipment.</p>
                <div class="arrow"><a href="$">></a></div>
            </div>
            <div class="middle-box">
                <img src="../static/img/illustration.png" alt="illustration">
                <h3>Hourly Home care</h3>
                <p>4x higher coverage limit than traditional policies for computers and home office equipment.</p>
                <div class="arrow"><a href="$">></a></div>
            </div>
            <div class="middle-box">
                <img src="../static/img/illustration.png" alt="illustration">
                <h3>Hourly Home care</h3>
                <p>4x higher coverage limit than traditional policies for computers and home office equipment.</p>
                <div class="arrow"><a href="$">></a></div>
            </div>
        </div>

        <div id="lower">
            <div class="resource-box upper-box">
                <img src="../static/img/illustration.png" alt="illustration">
                <h3>Hourly Home care</h3>
                <p>4x higher coverage limit than traditional policies for computers and home office equipment.</p>
                <div class="arrow"><a href="$">></a></div>
            </div>
            <div class="resource-box upper-box">
                <img src="../static/img/illustration.png" alt="illustration">
                <h3>Hourly Home care</h3>
                <p>4x higher coverage limit than traditional policies for computers and home office equipment.</p>
                <div class="arrow"><a href="$">></a></div>
            </div>
            <div class="resource-box upper-box">
                <img src="../static/img/illustration.png" alt="illustration">
                <h3>Hourly Home care</h3>
                <p>4x higher coverage limit than traditional policies for computers and home office equipment.</p>
                <div class="arrow"><a href="$">></a></div>
            </div>
            <div class="resource-box upper-box">
                <img src="../static/img/illustration.png" alt="illustration">
                <h3>Hourly Home care</h3>
                <p>4x higher coverage limit than traditional policies for computers and home office equipment.</p>
                <div class="arrow"><a href="$">></a></div>
            </div>
            <div class="contact-box upper-box">
                <img src="../static/img/phone-call.png" alt="contact-us">
                <h3>Do you need support?</h3>
                <p>We glad to help!</p>
                <button class="contact-us">CONTACT US</button>
            </div>
        </div>
    </section>


    <section id="about">
        <div class="about">
            <div class="about-me">
                <img src="../static/img/call.png" alt="call">
                <div class="aboutme-text">
                    <h3>1. Initial Consultation</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis atque inventore exercitationem a, laboriosam illo optio incidunt</p>
                </div>
            </div>
            <div class="about-me">
                <img src="../static/img/task.png" alt="call">
                <div class="aboutme-text">
                    <h3>2. Customised Care Plan</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis atque inventore exercitationem a, laboriosam illo optio incidunt</p>
                </div>
            </div>
            <div class="about-me">
                <img src="../static/img/love.png" alt="call">
                <div class="aboutme-text">
                    <h3>3. Caregiver Matching</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis atque inventore exercitationem a, laboriosam illo optio incidunt</p>
                </div>
            </div>
            <div class="about-me">
                <img src="../static/img/customer-service.png" alt="call">
                <div class="aboutme-text">
                    <h3>4. Ongoing Support & Supervision</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis atque inventore exercitationem a, laboriosam illo optio incidunt</p>
                </div>
            </div>
        </div>

    </section>
    <section id="copyright">
        <div class="copyright">
            <img src="../static/img/chhap seal.png" alt="chhap seal">
            <div class="copyright-text">
                <h3>CHAP Accreditation and this line can be about this big</h3>
                <p>UniversaCare, LLC will provide the following home health care programs at flexible schedules and cost-friendly service rates.</p>
            </div>
        </div>
    </section>

    <section id="home-care-heroes">
        <div class="heroes-grandParent">
            <div class="overall-rating">
                <h3>5.0</h3>
                <p class="star-mark">&#9733;&#9733;&#9733;&#9733;&#9733;</p>
                <p class="review-box grand-review">2,054 verified customers reviews by Google.</p>
            </div>
            <div class="heroes-parent">
                <div class="heroes-child">
                    <h3>Alvin Stanley</h3>
                    <p class="star-mark">&#9733;&#9733;&#9733;&#9733;&#9733;</p>
                    <p class="review-box">Great company to work for! This organization cares for its team of caregivers, office employees, and clients. There is always someone available to pick up the phone when you need help.</p>
                </div>
                <div class="heroes-child">
                    <h3>Harsh Anand</h3>
                    <p class="star-mark">&#9733;&#9733;&#9733;&#9733;&#9733;</p>
                    <p class="review-box">Great company to work for! This organization cares for its team of caregivers, office employees, and clients. There is always someone available to pick up the phone when you need help.</p>
                </div>
                <div class="heroes-child">
                    <h3>Freshers Vines</h3>
                    <p class="star-mark">&#9733;&#9733;&#9733;&#9733;&#9733;</p>
                    <p class="review-box">Great company to work for! This organization cares for its team of caregivers, office employees, and clients. There is always someone available to pick up the phone when you need help.</p>
                </div>
            </div>
        </div>
        <div class="all-reviews"><a href="#reviews">SEE ALL REVIEWS &#8594;</a></div>
    </section>

    <section id="gallery2">
        <div class="text-and-button">
            <div class="main-text">WE DO WHATEVER IT MAKES TO BRING YOU PEACE OF MIND</div>
            <button class="appointment-btn">REQUEST AN APPOINTMENT</button>
        </div>
        <div class="care-heart-img"><img src="../static/img/care-heart.png" alt="care-heart"></div>
    </section>

    <section id="gallery">
        <div id="image">
            <img src="../static/img/mobile-below-services.png" alt="mobileimg" class="phoneimg">
            <img src="../static/img/below-services.png" alt="lappi img" class="lappiimg">
        </div>
        <div class="top-arrow"><a href="#carrier">^</a></div>
    </section>

    <section id="footer">
        <div class="footer-div">
            <div id="headquarter">
                <h3>HEADQUARTERS</h3>
                <ul>
                    <li type="none">246-50 57th Drive Douglaston, NY 11362</li>
                    <li type="none">
                        a(href='https://mail.google.com/mail/u/1/?view=cm&fs=1&to=hello@universacare.com&tf=1'
                        target='_blank') hello@universacare.com</li>
                    <li type="none">P: <a href="tel:+7182243758" target="_blank">(718) 224-3758</a></li>
                    <li type="none">F: <a href="tel:+8777999065" target="_blank">8777999065</a></li>

                </ul>
            </div>
            <div id="service-and-company">
                <div class="services">
                    <h3>SERVICES</h3>
                    <ul>
                        <li type="circle"><a href="#" target="_blank">Hourly Care</a></li>
                        <li type="circle"><a href="#" target="_blank">Daily Care</a></li>
                        <li type="circle"><a href="#" target="_blank">Hospital to Home</a></li>
                        <li type="circle"><a href="#" target="_blank">Respite Care</a></li>
                        <li type="circle"><a href="#" target="_blank">Specialised Care</a></li>
                    </ul>
                </div>
                <div class="company">
                    <h3>COMPANY</h3>
                    <ul>
                        <li type="circle"><a href="#" target="_blank">About us</a></li>
                        <li type="circle"><a href="#" target="_blank">Locations</a></li>
                        <li type="circle"><a href="#" target="_blank">Caregivers</a></li>
                        <li type="circle"><a href="#" target="_blank">News & Blog</a></li>
                        <li type="circle"><a href="#" target="_blank">Contact Us</a></li>
                        <li type="circle"><a href="#" target="_blank">FAQs</a></li>
                    </ul>
                </div>
            </div>
            <div id="signup-and-logo">
                <div class="signup">
                    <p>Sign up to receive the latest articles</p>
                    <form action="/" method="post">
                        <input type="email" name="usermail" id="mailto" placeholder="Your email address">
                        <button type="submit">SUBMIT</button>
                    </form>
                </div>
                <div class="logo-and-follow">
                    <div class="footer-img">
                        <img src="../static/img/chhap seal.png" alt="chhap-seal">
                        <img src="../static/img/nycmbe-logo.jpg" alt="nycmbe-logo">
                    </div>
                    <div class="footer-follow">
                        <h3>Follow Us</h3>
                        <a href="https://google.com"><img src="../static/img/facebook.svg" alt="fb"></a>
                        <a href="https://google.com"><img src="../static/img/instagram.svg" alt="insta"></a>
                        <a href="https://google.com"><img src="../static/img/linkedin.svg" alt="linkedin"></a>
                        <a href="https://google.com"><img src="../static/img/twitter.svg" alt="twitter"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr />
    <section id="copyright-footer">
        <div>Copyright 2020 <h3>Universacare</h3> - All rights reserved</div>
    </section>
</body>

</html>