@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
#navbar{
    border-top: 1px solid rgb(207, 207, 207);
    height: 10vh;
    display: flex;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;  
    width: 100%;
}
.logo, .phone{
    display: flex;
    align-items: center;
    flex-shrink: 0;
    width: 200px;
    height: 100%;
    padding-right: 10px;
}
.logo{
    padding: 0px 30px;
}
.phone{
    width: 138px;
}
.phone a{
    text-decoration: none;
    
}
.phone a img{
    padding: 0px 10px;
}
.logo img{
    height: 80%;
    width: 100%;
}
.navlist{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 1;
}
.navlist ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
.navlist ul li{
    border-left: 2px solid rgb(207, 207, 207);
}
.navlist ul li:nth-child(1){
    border-left: 0px;
}
.navlist ul li a, .mobile-nav ul li a{
    text-decoration: none;
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 700;
    color:grey;
    padding: 0px 25px;
}
.burger-img{
    display: none;
}
.burger-img img{
    padding-left: 10px;
}

.mobile-nav{
    display: none;
    transition: all 1s ease-in-out;
}
.mobile-nav ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.navlist ul li .highlight, .mobile-nav ul li .highlight{
        color: blue;
    }
.flex-display{
    display: flex;
    transition: all 1s ease-in-out;
}
@media (max-width:1150px)and (min-width:768px){
    .navlist ul li a{
        font-size: 10px;
        padding: 0px 5px;
    }
    .navlist ul{
        justify-content: stretch;
    }
    .logo{
        padding: 0px 10px;
    }
}
@media (max-width:768px){
    .navlist{
        display: none;
    }
    .phone{
        display: none;
    }
    .burger-img{
        display: block;
    }
    .logo{
        width: 227px;
        height: 85%;
    }
}